body,html {
overflow:hidden;
background-image: url("img/fox5.gif");
background-position: center top;
background-size: 1vw auto;
font-family:"Open Sans","sans-serif";
font-weight:lighter;
height:100%;
margin:0em;
}

#overlay {
overflow:hidden;
background-image: url("img/fox.png");
background-position: center top;
background-size: 100% auto;
border: 0em;
margin: 0em;
height: 100%;
}

#mask {
margin-left:auto;
margin-right:auto;
width:50%;
background-color: rgba(34,34,34,0.75);
padding:1em;
}

#ip {
font-size:3em;
color: #FF0000;
}