::selection {
background: #d41512;
color: #000000;
}

body,html {
overflow:hidden;
background-image: url("img/fox6.png");
background-position: center top;
background-size: 100% auto;
background-repeat: no-repeat;
background-color:#000000;
font-family:"Open Sans","sans-serif";
font-weight:lighter;
height:100%;
margin:0em;
}

a:link, a:visited, a:hover, a:active {
Xfont-family:"Arial","Helvetica","sans-serif";
font-weight:lighter;
font-size:6vw;
color: #22c794;
text-decoration:none;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

#overlay {
overflow:hidden;
Xbackground-image: url("img/fox.png");
background-position: center top;
background-size: 100% auto;
background-repeat: no-repeat;
border: 0em;
margin: 0em;
height: 100%;
}

#mask {
margin-left:auto;
margin-right:auto;
margin-top:30%;
text-align:center;
background-color: rgba(0,0,0,0.8);
}

#ip {
font-size:6vw;
font-family:"Open Sans","sans-serif";
color: #22c794;

  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}