body,html {
overflow:hidden;
background-image: url("img/fox5.gif");
background-position: center top;
background-size: 100% auto;
font-family:"Open Sans","sans-serif";
font-weight:lighter;
height:100%;
margin:0em;
}

#overlay {
overflow:hidden;
background-image: url("img/fox.png");
background-position: center top;
background-size: 100% auto;
border: 0em;
margin: 0em;
height: 100%;
}

#blur {
width:100%;
height:100%;
display:block;
background-image: url("img/fox.png");
background-position: centre top;
background-size: 100% auto;
z-index:1;
/*float: right;
clear: right;
text-decoration:none;
color:#F27D16;
/*text-shadow: 0px 2px 3px #111111;
font-size: 4em;
padding: 4em; */
filter: blur(2px); 
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px); 
-ms-filter: blur(2px);
}

#mask {
width:500px;
height:200px;
border: 2px solid;
border-color: #FFFFFF;
border-radius: 2em;
z-index:10;
overflow: hidden;
}