@charset "utf-8";

body {
	background-color:#333333;
	color:#ffffff;
}

h1 {
	font-size:4em;
	text-align:center;
	color:#fe9a08;
	text-decoration:underline;
}

nav.topnav *,a:link,a:visited,a:hover,a:active {
	font-size:1.2em;
	text-align:center;
	color:#fe9a08;
	text-decoration:none;
}

nav.topnav  ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

nav.topnav li {
	display:inline;
	padding:1em;
}

div.content {
	background-color:#222222;
	width:60%;
}

.splash {
	float:right;
	clear:right
}