@charset "utf-8";

body {
	background-color:#101010;
}

h1 {
	font-size:4em;
	text-align:center;
	color:#fe9a08;
}

div.topnav  ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

div.topnav li {
	display:inline;
}
